/*___________________________________*/
/*___________________________________*/
/* widget */

#BlogSearch1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}
#Label1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}
#BlogArchive1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}
#FeaturedPost1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}

/*___________________________________*/
/*___________________________________*/
/* inputs */

.gsc-input {
font-family: "Courier" !important;
color: white !important;
background: rgba(0,0,0,0.3) !important;
border-radius: 5px !important;
}
.gsc-search-button {
font-family: "Courier" !important;
color: white !important;
background: rgba(0,0,0,0.3) !important;
border-radius: 5px !important;
}

/*___________________________________*/
/*___________________________________*/
/* search message */

.status-msg-bg {
  background: rgba(0,0,0,0.3) !important;
  border: 1px solid #7BAAF7 !important;
  border-radius: 10px !important;
}
.status-msg-hidden {
  background: rgba(0,0,0,0) !important;
}

/*___________________________________*/
/*___________________________________*/
/* post */
.post {
padding: 0.6rem; 
}
.post-outer {
  background: rgba(0,0,0,0.3) !important; 
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px !important;
  margin-bottom: 2rem !important;
}

#canvas {
  position: fixed !important;
  margin-bottom: 0 !important;
}
body {
  background: black !important;
}
