
#BlogSearch1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}
#BlogArchive1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}

#FeaturedPost1 {
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
}
input {
font-family: "Courier";
color: white;
background: rgba(0,0,0,0.3);
border-radius: 5px;
}
.post-outer {
  background: rgba(0,0,0,0.3) !important; 
  border: 1px solid #7BAAF7 !important;
  border-radius: 20px !important; 
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}
#canvas {
  position: fixed !important;
  margin-bottom: 0 !important;
}
body {
  background: black !important;
}
